---
import { experience } from "../../cv.json";

import ExperienceItem from "./ExperienceItem.astro";
---

<ol class="relative border-s border-gray-400 dark:border-gray-200 ml-3">
  {
    experience.map((exp) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...exp} />
      </li>
    ))
  }
</ol>
