<header
  class="flex justify-center items-center py-5 w-full xl:w-[1120px] mx-auto"
>
  <nav>
    <ul
      class="flex flex-row gap-x-10 opacity-90 bg-white/5 p-3 rounded-xl font-bold"
    >
      <li class="hover:text-yellow-200"><a href="#top">Inicio</a></li>
      <li class="hover:text-yellow-200"><a href="#about">Sobre mí</a></li>
      <li class="hover:text-yellow-200">
        <a href="#experience">Experiencia</a>
      </li>
      <li class="hover:text-yellow-200"><a href="#projects">Proyectos</a></li>
    </ul>
  </nav>
</header>
