---
import Hamburger from "../icons/Hamburger.astro";
import Moon from "../icons/Moon.astro";
import Sun from "../icons/Sun.astro";
---

<header
  class="flex z-10 justify-center items-center py-5 w-full xl:w-[1120px] mx-auto"
>
  <nav
    class="fixed w-full md:w-fit top-0 [backdrop-filter:blur(5px)] bg-white/55 md:bg-transparent animate-none md:animate-appear md:[animation-range:0_200px] md:[animation-timeline:scroll(root)] md:top-3 md:rounded-full opacity-90 text-gray-600 h-0 md:h-max dark:text-gray-800 dark:md:text-white"
    id="navbar"
  >
    <ul
      class="flex flex-col gap-5 absolute md:relative w-full md:w-fit top-1/2 md:top-0 -translate-y-1/2 md:translate-y-0 text-center md:flex-row md:gap-x-5 p-3 font-bold items-center hover:[&>li]:text-cyan-800 dark:hover:[&>li]:text-yellow-400"
    >
      <li><a href="#top">Inicio</a></li>
      <li>
        <a href="#experience">Experiencia</a>
      </li>
      <li><a href="#projects">Proyectos</a></li>
      <li><a href="#edu">Educación</a></li>
      <li><a href="#languages">Idiomas</a></li>
      <li>
        <Moon id="moon" class="size-5 hidden" />
        <Sun id="sun" class="size-5 hidden" />
      </li>
    </ul>
  </nav>

  <button class="fixed md:hidden right-10 top-7" id="btn-ham">
    <Hamburger />
  </button>
</header>

<style>
  nav {
    overflow: hidden;
    transition: all 0.5s ease-in;
  }

  nav.is-open {
    height: 100vh;
  }

  @keyframes appear {
    to {
      backdrop-filter: blur(5px);
      background-color: rgb(255 255 255 / 0.5);
    }
  }
</style>

<script>
  let actualMode = "light";
  if (document.documentElement.classList.contains("dark")) {
    actualMode = "dark";
  }

  const lastLi = document.querySelector("ul li:last-child");
  const sunSVG = document.querySelector("#sun");
  const moonSVG = document.querySelector("#moon");
  const navbar = document.querySelector("#navbar");
  const btnHam = document.querySelector("#btn-ham");
  const icon = btnHam.querySelector("div");

  if (actualMode == "dark") {
    moonSVG.classList.remove("hidden");
  } else {
    sunSVG.classList.remove("hidden");
  }

  document.querySelectorAll("nav ul li").forEach((li) => {
    li.addEventListener("click", () => {
      document.body.classList.remove("overflow-y-hidden");
      icon.classList.remove("is-open");
      navbar.classList.remove("is-open");
    });
  });

  lastLi.addEventListener("click", () => {
    actualMode == "dark" ? (actualMode = "light") : (actualMode = "dark");

    if (actualMode == "dark") {
      moonSVG.classList.remove("hidden");
      sunSVG.classList.add("hidden");
    } else {
      moonSVG.classList.add("hidden");
      sunSVG.classList.remove("hidden");
    }

    if (localStorage.getItem("color-theme")) {
      if (localStorage.getItem("color-theme") === "light") {
        document.documentElement.classList.add("dark");
        localStorage.setItem("color-theme", "dark");
      } else {
        document.documentElement.classList.remove("dark");
        localStorage.setItem("color-theme", "light");
      }
    } else {
      if (document.documentElement.classList.contains("dark")) {
        document.documentElement.classList.remove("dark");
        localStorage.setItem("color-theme", "light");
      } else {
        document.documentElement.classList.add("dark");
        localStorage.setItem("color-theme", "dark");
      }
    }
  });

  btnHam.addEventListener("click", () => {
    document.body.classList.toggle("overflow-y-hidden");
    icon.classList.toggle("is-open");
    if (icon.classList.contains("is-open")) {
      navbar.classList.add("is-open");
    } else {
      navbar.classList.remove("is-open");
    }
  });
</script>
