---
const skills = [
  "Java",
  "Spring",
  "HTML",
  "CSS",
  "Javascript",
  "React",
  "Git",
  "Redux",
  "Docker",
];
---

<ul class="flex flex-wrap items-center gap-4">
  {
    skills.map((skill) => (
      <li class="rounded-md px-2 py-1 border border-blue-500 text-blue-500 dark:border-sky-300  dark:text-sky-300">
        {skill}
      </li>
    ))
  }
</ul>
