<a
  class="rounded-full border border-gray-300 bg-gray-300/5 hover:bg-gray-300/10 dark:border-white/10 dark:bg-white/5 dark:hover:bg-white/10 text-xs md:text-base flex justify-center items-center gap-x-2 py-2 px-2 md:py-2 md:px-4 hover:scale-110 transition"
  target="_blank"
  rel="noopener noreferrer"
  {...Astro.props}
>
  <slot />
</a>
